@import url(https://fonts.googleapis.com/css?family=Exo:400,500,500italic,400italic,600,600italic,700,700italic,800,800italic,300,300italic);

body {
  padding-top: 100px;
	/*The below background is just to add some color, you can set this to anything*/
  background: url(http://www.magic4walls.com/wp-content/uploads/2014/01/texture-blue-fonchik-simple-dark-colors-glow-background.jpg) no-repeat;
}

.login-form{width:390px;}
.login-title{font-family: 'Exo', sans-serif;text-align:center;color: white;}
.login-userinput{margin-bottom: 10px;}
.login-button{margin-top:10px;}
.login-options{margin-bottom:0px;}
.login-forgot{float: right;}



.logo {
  display: flex; /* Utilizar flexbox para centrar */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.logo-img {
  max-width: 100%; /* Ajustar el tama침o m치ximo de la imagen */
  max-height: 100%; /* Ajustar el tama침o m치ximo de la imagen */
}